@charset "utf-8";

.listings {
	$text-size: 140%;

	img.icon {
		width: 150%;
		height: 150%;
		max-width: 50pt;
		max-height: 50pt;
	}
	
	.index_listing {
	    padding-top: 2em;
	    padding-bottom: 2em;

		border-style: none;
	    border-bottom: thin solid #eeeeee;

	    &:last-of-type {
	    	border-bottom: none;
	    }

		h1 {
			font-size: $text-size;
			margin: 0em;
			margin-bottom: 0.5em;

			a {
				color: black;
				text-decoration: none;
			}
		}

		.summary {
			color: #9598a0;
			margin: 0em;
			max-width: 75vw;
		}

		.read_more {
			padding-top: 1em;
			color: #9598a0;
		}

		.row .button {
			position: relative;
			top: 2em;
			margin-left: 0.5em;
		}

		a {
			transition: color, 0.3s;
			&:hover {
				color: black
			}
		}
	}
	
}
