
.post {
	max-width: 50em;
	margin: auto;
	margin-top: 2em;
	margin-bottom: 8em;

	img {
		max-height: 25em;
		max-width: 90%;
		display: block;
		margin: auto;
		padding: 1em;
	}
}

.tags {
	margin-top: 2em;
	color: lightgray;
	a {
		color: lightgray;
		transition: color, 0.2s;
		&:hover {
			color: gray;
		}
	}
}