
.widget {
	margin: auto;
	padding: 1em;
	color: white;
	border-radius: 0.2em;
	background-color: #c9c9c9;
	max-width: 20em;

	* { 
		padding: 0em; margin: 0em;
		font-size: 1em;
	}
	h1 {
		font-size: 1.5em;
	}
}