<% wrap_layout :layout do %>
	<div class="post">
		<h1><%= current_page.data.title %></h1>
    	<%= yield %>
    	
		<div class="tags">
			<span>Tags: </span>
			<% current_page.data.tags.split(" ").each do |tag| %>
			<%= link_to tag, tag_path(tag) %>
			<% end %>
		</div>
	</div>
<% end %>