.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  padding: 3em;
  border-radius: 3pt;
  box-shadow: 0 2pt 5pt 0 rgba(0, 0, 0, 0.1);
  background-color: white;
}

.title {
  line-height: 1;
  font-size: 3rem;
}

.title,
.subtitle {
  margin: 0;
}

.subtitle {
  font-size: 1.25rem;
}

ul.contact {
  list-style-type: none;
  padding: 0;
  margin-bottom: 0;
}

ul.contact li {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin-top: 5pt;
}

ul.contact li *:not(:first-child) {
  margin-left: 0.5em;
}

ul.contact a {
  transition: color 0.15s;
  color: gray;
}

ul.contact a:hover {
  color: black;
}
