.projectItem {
  background-color: white;
  border-radius: 3pt;
  margin: 0.75rem 0;
  border: 2px solid transparent;
}

.projectItem h1 {
  font-size: 1rem;
}

.projectItem p {
  margin: 0;
}

.projectLink {
  padding: 1rem;
  cursor: pointer;
  transition: border 0.15s;
}

.projectLink:hover {
  border: 2px solid rgb(138, 138, 138);
}

.projectDesc {
  flex-basis: 200pt;
  flex-grow: 1;
}

.projectIcon {
  width: 50pt;
}

.projectIcon svg {
  width: 50pt;
  height: 50pt;
}
